body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    max-width: 292px;
    overflow: hidden;
    font-size: 40px;
    text-align: right;
}

.row {
    margin: 4px 0px;
}

button {
    width: 70px;
    padding: 20px 0px;
    font-size: 24px;
    background-color: #ebe8f9;
    border: 0px;
}

.color {
    background-color: #7c66d7;
}

.operate, .clear {
    background-color: #654cd1;
}